body {
    background-color: mintcream;
}

#headlineDiv {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#calcDiv {
    background-color: lightseagreen;
    border: 2px double black;
    border-radius: 10px;
    width: 230px;
    height: 320px;
    margin: 10 auto;
}

#resultWindow {
    background-color: white;
    margin: 5 auto;
    width: 80%;
    height: 40px;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
    text-align: right;
}

#buttonsDiv {
    display: grid;
    padding: 5px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

button {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.opsButtons {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    margin: 5px;
    background-color: pink;
}

.numButtons {
    height: 40px;
    width: 40px;
    border: 1px solid black; 
    margin: 5px;
    background-color: lightslategray;
}

.dudeButtons {
    height: 40px;
    width: 40px;
    border: 1px solid black; 
    margin: 5px;
}

#equalsButton {
    height: 90px;
    width: 40px;
    border: 1px solid black; 
    margin: 5px;
}

#clearButton {
    background-color: grey;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#divideButton {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#multiplyButton {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#subtractButton {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

#sevenButton {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#eightButton {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#nineButton {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#addButton {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

#fourButton {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

#fiveButton {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#sixButton {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

#equalsButton {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;
}

#oneButton {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#twoButton {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#threeButton {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

#templinButton {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    padding: 0;
}

#zeroButton {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

#dotButton {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}

#nicButton {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
    padding: 0;
}